h1 {
  text-align: center;
  font-size: 40pt;
}

.player-row-scorekeeper {
	background-color: blue;
}

input[type=text]{
  -webkit-appearance: none; -moz-appearance: none;
  display: block;
  margin: 0;
  width: 100%; height: 40px;
  line-height: 40px; font-size: 17px;
  border: 1px solid #bbb;
}