* {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  margin: 0pt;
}

body {
    background-color: #F1F1F1;
}

button {
  margin: 5pt;
  border: 2pt black solid;
  color: #ffffff;
  font-size: 40pt;
  background: #3498db;
  padding: 10pt 20pt 10pt 20pt;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
  font-size: 40pt;
}

h1 {
  text-align: center;
  font-size: 60pt;
}

h2 {
  text-align: center;
  font-size: 40pt;
}

h3 {
  text-align: center;
  font-size: 16pt;
}

input[type=text]{
  -webkit-appearance: none; -moz-appearance: none;
  margin: 10pt;
  width: 300pt; height: 40pt;
  line-height: 40pt; font-size: 30pt;
  border: 1pt solid #bbb;
}

input[type=number]{
  -webkit-appearance: none; -moz-appearance: none;
  display: inline;
  margin: 10pt;
  width: 20%; height: 40pt;
  line-height: 40pt; font-size: 30pt;
  border: 1pt solid #bbb;
}

.player-row-scorekeeper {
  background-color: blue;
}

.latest-games {
  font-size:20pt;
  border: 1pt solid #000;
  width: 20%;
  margin: 0 auto;
}

.game-summary {
  border: 1pt solid #000;
}

.resume-game, .resume-game:hover {
  font-size: 20pt;
}

.score {
  font-size: 50pt;
}

.winReason {
  font-size: 40pt;
}

.scoreboard {
  font-size: 32pt;
}

.currentBid {
  font-size: 40pt;
}

.currentTrick {
  font-size: 40pt;
}