* {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  margin: 0pt;
}

body {
    background-color: #F1F1F1;
}

#footer {
  color:#DDDDDD;
  font-color:#DDDDDD;
  font-size: 10pt;
  margin-top: 30pt;
}

button {
  margin: 5pt;
  border: 2pt black solid;
  color: #ffffff;
  font-size: 40pt;
  background: #3498db;
  padding: 10pt 20pt 10pt 20pt;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
  font-size: 40pt;
}

h1 {
  text-align: center;
  font-size: 60pt;
}

h2 {
  text-align: center;
  font-size: 40pt;
}

h3 {
  text-align: center;
  font-size: 16pt;
}

table {
  width: 100%;
  font-size: 20pt;
  border: 1px solid black;
}
th {
    width: 1%;
    white-space: nowrap;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    color: #ffffff;
    background: #3498db;    
}
th.selected {
    background: #db9834;  
}
tr.tr---- {
    font-weight: bold;
}
td {
    white-space: nowrap;
    border: 1px solid black;
}

input[type=text]{
  -webkit-appearance: none; -moz-appearance: none;
  margin: 10pt;
  width: 300pt; height: 40pt;
  line-height: 40pt; font-size: 30pt;
  border: 1pt solid #bbb;
}

input[type=number]{
  -webkit-appearance: none; -moz-appearance: none;
  display: inline;
  margin: 10pt;
  width: 20%; height: 40pt;
  line-height: 40pt; font-size: 30pt;
  border: 1pt solid #bbb;
}

.vertDivider {
    height: 40px;
}
.horzDivider {
    display: inline-block;
    width: 25%;
}

.player-row-bid {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    align-items: center;
}

.player-row-scorekeeper {
  background-color: blue;
}

.latest-games {
  font-size:20pt;
  border: 1pt solid #000;
  margin: 40px auto;
}

.game-summary {
  border: 1pt solid #000;
}

.game-summary-hit {
  background-color: lightgreen;
}
.game-summary-miss {
  background-color: lightcoral;
}

.resume-game, .resume-game:hover {
  font-size: 20pt;
}

.delete-game, .delete-game:hover {
  font-size: 20pt;
  color: black;
  font-color: black;
  background-color: yellow;
}
.delete-game:hover {
  font-color: white;
  color: white;
  background-color: red;
}

/* Bids */
.bids-round-number {
  font-size: 50pt;
  display: inline-block;
}

button.change-round {
  display: inline-block;
}


.add-player-button, .add-player-button:hover {
  font-size: 16pt;
  margin: 5px;
  display: inline;
}

.player-buttons {
  margin:auto;
  clear:both;
  width:60%;
}

.player-rows {
  clear:both;
}

.add-player-from-bids-dialog-container {
  border:10px solid black;
}

.add-player-from-bids-dialog, .add-player-from-bids-dialog:hover{
  display:inline;
  font-size:16pt;
}

.player-name {
  font-size: 50pt;
}

.pending-bid-dealer {
  font-size: 50pt;
  background-color: gold;
}

.bid {
  display: flex;
  padding: 10px;
  border: 6px solid transparent;
}

.current-bidder {
  border-color: black;
}

.winReason {
  font-size: 40pt;
}

.scoreboard {
  font-size: 32pt;
}

.current-bidtrick {
  display: inline-block;
  margin: 0 10px;
  font-size: 60pt;
  font-weight: bold;
}
.currentTrick-firstLeader {
  background-color: gold;
}

.roundBalance {
    position: fixed;
    top: 3%;
    right: 5%;
    font-size: 40pt;
    padding: 20px;
    border-radius: 1000px;
}
.roundBalance-under {
  background-color: lime;
}
.roundBalance-over {
  background-color: yellow;
}

.statistics-header {
  margin-bottom: 20px;
}

/* statistics */
.GamePlayers-filters {
  display:flex;
  justify-content: space-between;
  margin: 0 1%;
}
.GamePlayers-filters button, .GamePlayers-filters span {
  font-size: 20pt;
  padding: 5px;
}
.GamePlayers-filters > shift {
  display: inline-block;
  margin: 0 10px;
  font-size: 60pt;
  font-weight: bold;
}
.calendar {
  transform: scale(2,2);
}
/* diffs */
span.diff {
  font-size: 14pt;
}
span.positive {
  color:green;
}
span.negative {
  color:red;
}

/*stats modal*/
.backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;
}

.player-modal, .game-summary-modal {
  background-color: #F1F1F1;
  border-radius: 5pt;
  max-width: 800pt;
  min-height: 300pt;
  height:80%;
  margin: 0px auto;
  padding: 30px;
  font-size: 20pt;
  overflow-y:scroll;
}

.table-column {
  display:inline-block;
  padding-top:20pt;
  border:none;
}

.extra-stats-table {
  text-align: center;
}